$main-font: Montserrat, sans-serif;
$title-color: #111518;
$title-dark-theme-color: #ffffff;
$subtitle-color: #b9b9b9;
$subtitle-dark-theme-color: rgba(185, 185, 185, 0.5);
$accent-color: #ff6b09;
$main-bg: #e5e5e5;
$light-bg: #ffffff;
$dark-bg: #111518;
$alternative-bg: #f1f1f1;
